<form id="delete-form" class="mw8 center pa4 black-80 dn">
    <h1>Deletion Notes</h1>
    <p id="delete-form-details"></p>
    <div class="measure">
      <!-- notes -->
      <label for="notes" class="f6 b db mb2">Notes <span class="normal black-60"></span>(optional)</label>
      <textarea id="notes" name="notes" class="db border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2"
        aria-describedby="notes-desc"></textarea>
      
    </div>
    <div class="mt3"><input class="b ph3 pv2 input-reset ba b--dark-red red bg-transparent grow pointer f6" type="submit"
        value="Submit"></div>
  </form>