<form id="edit-form" class="mw8 center pa4 black-80 dn">
    <h1>Edit Item</h1>
    <div class="measure">
      <!-- name -->
      <label for="name" class="f6 b db mb2">Name <span class="normal black-60"></span></label>
      <input id="name" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="name-desc">
      
      <!-- price -->
      <label for="price" class="f6 b db mb2">Price <span class="normal black-60"></span></label>
      <input id="price" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="number" min="0" step=".01" aria-describedby="price-desc">
      
      <!-- description -->
      <label for="description" class="f6 b db mb2">Description <span class="normal black-60"></span></label>
      <textarea id="description" name="description" class="db border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2"
        aria-describedby="description-desc"></textarea>
      
    </div>
    <div class="mt3"><input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit"
        value="Submit"></div>
  </form>